/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --main--bg: ;
  --txt--main: #ffc26f;
  --dark--color: #0f0f0f;
  --gray--color: gray;
  --h1--font-size: 40px;
  --h2--font-size: 32px;
  --small-font-size: 14px;
}

img {
  max-width: 100%;
}

/* Global Css */
section {
  padding: 120px 0;
}

section .section-title {
  font-size: var(--h2--font-size);
  font-weight: bold;
  text-transform: uppercase;
}

section .btn-orange {
  background-color: var(--txt--main);
  color: white;
}

section .btn-orange:hover {
  background-color: var(--dark--color);
  color: white;
}

.text-orange {
  color: var(--txt--main);
}

.text-pink {
  color: #e1306c;
}

.text-dark {
  color: var(--dark--color);
}

.fs-7 {
  font-size: var(--small-font-size);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--txt--main);
}

section a {
  text-decoration: none;
}

/* Header */
.header-section .header-title {
  font-size: var(--h1--font-size);
}

.header-section .header-skill {
  color: var(--dark--color);
}

.header-section .header-skill:hover {
  color: var(--txt--main);
}

.header-section .header-skill i {
  transition: 0.3s;
}

.header-section .header-skill:hover i {
  transform: rotate(-45deg);
}

.header-section .header-img .skills-section .skills-img {
  width: 90%;
}

/* Portofolio */
.portofolio-section .card .card-img-top {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

/* Skills */

.skills-section {
  background-color: #030304;
}

.skills-section .progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: var(--gray--color);
}

.skills-section .progress-bar .progress {
  background-color: var(--txt--main);
}

/* News */
#news {
  background-color: var(--dark--color);
}

#news .card-body {
  border: 2px solid var(--txt--main);
}

@media screen and (max-width: 768px) {
  section {
    padding-top: 30px;
  }
  .portofolio-section .card .card-img-top {
    height: 100px;
  }

  .header-section .header-img {
    width: 80%;
    margin-top: 60px;
  }

  .skills-section .skills-img {
    width: 80%;
    margin-top: 60px;
  }

  .navbar-collapse {
    margin-top: 20px;
    background-color: rgb(195, 194, 194);
    padding: 10px 30px;
  }
}

/* Swiper */

/* CSS Section */
/* nav { */
/* display: flex;
  justify-content: space-between;
  align-items: center; */
/* padding: 10px 100px; */
/* color: var(--txt--main); */
/* position: fixed;
  width: 100%; */
/* } */

/* .navbar li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}

.navbar li a {
  color: black;
  text-decoration: none;
}

.navbar li a:hover {
  color: var(--txt--main);
  transition: 0.3s ease-in;
} */

/* Navbar */

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: var(--txt--main);
}

footer {
  background-color: black;
  color: white;
  margin-top: auto;
  text-align: center;
  /* width: 100%; */
  /* margin-top: 0 auto */
  /* position: absolute;
  bottom: 0; */
}
